td.bibtexnumber {
    display: none;
}
td.bibtexitem {
    padding-left: 1em;
    text-indent: -1em;
    padding-bottom: 1em;
}
div#bibliography h2 {		/*hide automatic bibliography title*/
    display: none;
}
