.org-builtin,
.org-keyword {
    font-weight: bold;
    color: #00f;
}

.org-function-name {
    color: #00f;
}

.org-string {
    font-style: normal;
    color: #00a64f;
}

.org-constant {
    color: #f00;
}

.org-comment,
.org-comment-delimiter {
    font-style: italic;
    color: #333;
}
