body {
    width: 780px;
    margin: 0px auto;
    font-family: "Linux Libertine O","Serif",serif;
    font-size: 14pt;
    background-color: white;
}
pre,
code {
    font-size: 11pt;
}
.emph {
    font-style: italic;
}
i .emph {
    font-style: normal;
}
.sf, .url {
    font-family: "Linux Biolinum O","Helvetica",sans-serif;
}
.url a {
    text-decoration: none;
    color: inherit;
}
div.abstract {
    width: 90%;
    margin: 0px auto;
}
div#preamble {
    height: 0px;
}
div#content {
    background-color: white;
}
div#footnotes hr {
    width: 40%;
    margin: 1em auto auto 0px;
}
div#footnotes {
    font-size: 90%;
}
a.footref {
    text-decoration: none;
    vertical-align: super;
    font-size:80%;
    line-height: 0pt;
}
div.footdef p {
    display: inline;
}
a.footnum:after {
    content: ".";
}
pre.src, pre.example {
    margin: 12px 0px;
    text-align: left;
}
pre.example {
    font-size: 10pt;
}
p {
    text-align: justify;
    margin: 0px;
}
ol, ul, dl {
    margin: 1ex 0px;
}
/* table { */
/*     border: 1px; */
/* } */
#table-of-contents ol,
#table-of-contents ul,
#table-of-contents dl {
    margin: 0px;
}
/* XXX disable as leading to wrong results with divs "inside" sections */
/* div#content div p { */
/*     text-indent: 1em; */
/* } */
/* div#content div p:first-child { */
/*     text-indent: 0em; */
/* } */
div#content div p.indent {
    text-indent: 1em;
}
div#content div.figure p.indent {
    text-indent: 0em;	    /*cancel out default indent for captions*/
}
/* div#content div p:first-child { */
/*     text-indent: 0em; */
/* } */
div.definition,
div.proposition,
div.outline-5,
div.outline-6 {
    margin-top: 1em;
    text-align: justify;
}
h5, h6,
div.outline-text-5,
div.outline-text-5 p:first-child,
div.outline-text-6,
div.outline-text-6 p:first-child {
    display: inline;
}
h5, h6 {
    font-size: 100%;
    margin-right: 1em;
}
h6 {
    font-weight: inherit;
    font-style: italic;
}
/* div.org-src-container > label:before  { */
/*     content: "Listing "; */
/*     font-weight: bold; */
/* } */
div.org-src-container {
    text-align: center;
    margin: 0px auto;
}
div.definition {
    font-style: italic;
}
div.definition .emph {
    font-style: normal;
}
div.definition > p:first-child:before  {
    content: "Definition ";
    font-weight: bold;
}
div.proposition > p:first-child:before  {
    content: "Proposition ";
    font-weight: bold;
}
table, div.figure {
    margin: 1em auto;
}
div.figure {
    page-break-inside: avoid;
    padding: 0em;
}
div.figure p.indent {
    text-indent: 0em;		/*cancel out default indent*/
}
div.figure p:first-child { 
    display: block;		/* Negate paragraph title inlining. */
}
table.descr-list {
    width: 90%;
    /* border: 2pt none; */
}
table.descr-list colgroup col.right {
    width: 2cm;
}
td, th {
    padding: 0pt 3pt;
}
@media screen {
    #table-of-contents {
	background: inherit;
	right: 0em;
	top: 0em;
	z-index: 100;
	text-align: right;
	/* ensure doesn't flow off the screen when expanded */
	float: right;
	position: fixed;
	border: 1px solid #CCC;
	max-height: 80%;
	max-width: 50%;
	overflow: auto;
	font-size: 90%;
	box-shadow: 0 0 1em #777777;
	-webkit-box-shadow: 0 0 1em #777777;
	-moz-box-shadow: 0 0 1em #777777;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
    }
    #table-of-contents h2 {
	font-size: 112%;
	max-width: 9em;
	font-weight: normal;
	padding: 0.05em 0.5em;
    }
    #table-of-contents #text-table-of-contents {
	display: none;
	text-align: left;
    }
    #table-of-contents:hover #text-table-of-contents {
	display: block;
	padding: 0.5em;
	margin-top: -1.5em;
    }
} /* END OF @media screen */
@media print {
    /* p { orphans: 3; } */
    @page {
	/* this affects the margin in the printer settings */ 
	margin: 1in;
    }
    a {
	text-decoration: none;
	color: inherit;
    }
    body { 
	font-size: 13pt;
	/* this affects the margin on the content before sending to printer */ 
	margin: 0px;
    }
    #table-of-contents {
	visibility: hidden;
	height: 0px;
	width: 0px; 
    }
/*#table-of-contents a:after {
  content: leader('.') target-counter(attr(href url), page);
  }*/
} /* END OF @media print */
/*@page { @bottom { content: counter(page); } }*/
